*{
   box-sizing:border-box;
   margin:0;
   padding:0;
}
body{
	background-color:black;
	font-family:Arial,san-serif;
	padding-top:200px;
}
.container1{
	display:flex;
	background-color:white;
	width:1500px;
	height:auto;
	padding-left:200px;
	box-shadow:1px -2px 3px gray; 
    padding-top:2px;	
}
.main span{
	color:gray;
	width:75%;
	font-size:12px;
}
	
.icons{
	padding-left:600px;
}
.container2{
	display:flex;
	background-color:white;
	width:1500px;
	height:auto;
	padding-left:200px;
	padding-top:30px;
	padding-bottom:20px;
}
.main i{
	color:blue;
}
.icons i{
	color:#505087;
	font-size:13px;
	padding-left:10px;
}
	
.head a{
	text-decoration:none;
	color:black;
}
.links{
	  width:75%;
	   font-size:15px;
}
.links a{
	padding-left:10px;
	text-decoration:none;
	color:gray;
}
.links button{
	background-color:#0066ff;
	color:white;
	font-size:8px;
    border-radius:15px;
	border:none;
	width:110px;
	height:60px
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
	margin-left:10px;

}
#home{
	color:#0066ff;
	text-decoration:underline blue;
}
	
	